@use "./mixins" as *;
@use "./variables" as *;
/* Start Services */
.services {
  @include sec-gap;
  .container {
    @include sec-heading;
    .services-content {
      margin-top: $section_gap;
      @include grid-box("col") {
        .srv {
          margin-bottom: $content_gap;
          min-height: 200px;
          @include flex-box("text", null) {
            flex: 1;
            h3 {
              @include font-style($secondary_color, null, null, null);
            }
            p {
              @include font-style(
                $normal_text_color,
                $x_small_text_size,
                $x_small_text_height
              );
            }
          }
          i {
            color: $main_color;
            flex-basis: $content_gap * 2;
          }
          @include break-point("mobile") {
            flex-direction: column;
            text-align: center;
          }
        }
        .image {
          text-align: center;
          position: relative;
          img {
            width: 260px;
          }
          &::before {
            content: "";
            background-color: $secondary_color;
            width: 100px;
            height: calc(100% + 100px);
            position: absolute;
            right: 0;
            top: -50px;
            z-index: -1;
          }
          @include custom-break-point("small to large") {
            display: none;
          }
        }
      }
    }
  }
}
/* End Services */
