/// design colors
$main_color: #10cab7;
$secondary_color: #2c4755;
$bg_color: #f6f6f6;
//
/// text colors
$normal_text_color: #575757;
$section_headings_color: #ebeced;
$section_p_color: #6d6d6d;
//
// font styling
$section_heading_size: 6.25em;
$heading_weight: 900;
$heading_text_size: 3.125em;
$heading_text_height: 1.1;
$normal_text_size: 1.2em;
$normal_text_height: 1.4;
$small_text_size: 1.1em;
$small_text_height: 2;
$x_small_text_size: 0.95em;
$x_small_text_height: 1.6;
//
/// transition time
$main_transition: 0.3s;
//
/// screen padding
$screen_padding: 20px;
//
// gaps
$section_gap: 60px;
$content_gap: 30px;
$text_gap: 20px;
$border_width: 15px;
//
